.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-error {
    color: red;
}

.custom-form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

