@page "/registrationsucces"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILogger<RegistrationSucces> Logger


<PageTitle>Rekisteröityminen onnistui</PageTitle>

<h1>Rekisteröityminen onnistui!</h1>

    <h2>Kirjaudu sisään nähdäksesi lisää</h2>
