.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-error {
    color: red;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

    .image-container img {
        max-width: 100px;
        max-height: 100px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: border-color 0.3s ease-in-out;
    }

        .image-container img:hover {
            border-color: #007bff;
        }

.selected-image {
    border: 2px solid blue;
}

