@page "/welcomeuserx"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILogger<WelcomeUserX> Logger


<PageTitle>Kirjauduit juuri sisään</PageTitle>

<h1>Kirjautuminen onnistui</h1>

    <h2>Tervetuloa @LoginInfo.NickName!</h2>
