@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        @if (LoginInfo.LoggedIn) //olisiko järkevämpää tapaa pakottaa NavMenun päivitys kirjautumisen / uloskirjautumisen yhteydesä?
        {
            <NavMenu />
        }
        else
        {
            <NavMenu />
        }
    </div>

    <main>
        @if (LoginInfo.LoggedIn)//Toisaalta samanlailla hoidetaan tämä
        {
            <div class="top-row px-4">
                <a href="/usersettings">@LoginInfo.NickName</a>
                <a href="/logout">Kirjaudu ulos</a>
            </div>
        }
        else
        {
            <div class="top-row px-4">
                <a href="/login">Kirjaudu</a>
            </div>
        }
        <div class="taustakuva">

                <article class="content px-4">
                    @Body
                </article>

        </div>
    </main>
</div>
